<footer class="footer_wrapper bg-color">
    <div class="container">
        <div class="footer_wrapper_info">
            <div class="index_module">
                <div class="index_module--top">
                    <a href="/">
                        <img src="/img/logo2.jpg" alt="HT" class="footer_img">
                    </a>
                    <p class="footer_logo_text">STOP DREAMING AND DO IT.</p>
                </div>
                <ul class="footer_list">
                    <li>
                        Телефон: 
                        <a href="tel:+79961241535">+79961241535</a>
                    </li>
                    <li>
                        Электронная почта: 
                        <a href="mailto:hienxk1@gmail.com">hienxk1@gmail.com</a>
                    </li>
                    <li>
                        Адрес: 420015, Российская Федерация, Республика Татарстан, Казань, ул.Карла Маркса, 68,
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer_wrapper_web">
            <p class="footer_copyright">© 2022 - Платформа обучения гитара</p>
            <div class="footer_web_bottom">
                <a href="https://www.youtube.com/playlist?list=PL-RYb_OMw7GfqsbipaR65GDDzA1rP5deq" class="footer_social-item" title="Youtube">
                    <img src="/img/youtube-brands.svg" alt="svg" class="footer_web_icon footer_youtube">
                </a>
                <a href="https://vk.com/club213623746" class="footer_social-item" title="Vk">
                    <img src="/img/vk-brands.png" alt="svg" class="footer_web_icon footer_facebook">
                </a>
            </div>
        </div>
    </div>
</footer>