<div class="mt-4 mb-4">
    <div class="container text-center">
        <div class="web-error">
            <h2 class="web-404"></h2>
            <h1>Не удается получить доступ к этому веб-сайту 😓</h1>
            <div>
                <ul>
                    <li>URL-адрес этого контента <strong>был изменен</strong> или <strong>больше не существует.</strong>
                    </li>
                    <li>Ты <strong>не админ</strong> !!!!!</li>
                    <li>...</li>
                </ul>
            </div>
            <button type="button" class="btn btn-primary ">
                <a href="/" class="p-3 mb-2 text-white text-decoration-none">Вернут на главной страница</a>
            </button>
        </div>
    </div>
</div>