<div class="container">
    <h2 class="text-center">
    Введение О гитаре MH
</h2>
<p class="ml-4">
      В веб-сайте есть огромное количество ресурсов, доступных для обучения игре на гитаре. Вы можете научиться играть причудливые гаммы, играть песни, научиться играть соло и многое другое. Проблема в том, что для тех, кто хочет начать играть на гитаре, не так много хороших уроков игры на гитаре. Эти уроки игры на гитаре предназначены для людей, которые владеют (или одолжили) гитару, но еще не знают, как играть на ней.
</p>
<h3 class="text-center">
    Что вам понадобится для этих уроков игры на гитаре?
</h3>
<ol>
        <li>
            Гитара с шестью струнами. Любой тип гитары подойдет
        </li>
        <li>
           Гитарный медиатор. Для начала рекомендуется использовать медиаторы средней толщины, но в крайнем случае подойдет любой.
        </li>
        <li>
            Стул без подлокотников
        </li>
        <li>
            Разумное количество терпения
        </li>

</ol>
<h3 class="text-center">
    Несколько основных вещей, которые вам нужно знать
</h3>
<ol>
    <li class="h4">
        Части гитары
    </li>
    <div class="row">
        <p class = "col-8">Хотя существует множество различных типов гитар (акустические, электрические, классические, электроакустические и т. д.), все они имеют много общего. На схеме слева показаны различные части гитары.

                            В верхней части гитары на иллюстрации находится «головка грифа» — общий термин, описывающий часть гитары, прикрепленную к более тонкому грифу инструмента. На головке грифа есть «тюнеры», которые вы будете использовать для регулировки высоты звука каждой из струн на гитаре.

                            В месте, где головка грифа встречается с грифом гитары, вы найдете «порожек». Порожек — это просто небольшой кусок материала (пластика, кости и т. д.), в котором вырезаны небольшие канавки для направления струн к колкам.

                            Гриф гитары — это та область инструмента, на которой вы будете много концентрироваться; вы будете класть пальцы на разные места на грифе, чтобы создавать разные ноты.

                            Гриф гитары примыкает к «телу» инструмента. Корпус гитары будет сильно различаться от гитары к гитаре. Большинство акустических и классических гитар имеют полый корпус и «звуковое отверстие», предназначенное для воспроизведения звука гитары. Большинство электрогитар имеют цельный корпус и поэтому не имеют резонаторного отверстия. Электрогитары вместо этого будут иметь «пикапы» там, где находится звуковое отверстие. Эти «пикапы» представляют собой небольшие микрофоны, которые позволяют улавливать звук звенящих струн и усиливать их.

                            Струны гитары проходят от колков, через порожек, вниз по грифу, по корпусу, по звуковому отверстию (или звукоснимателям) и закрепляются на приспособлении, прикрепленном к корпусу гитары. называется «мост».</p>
   
        <img class= "col-4" src="https://www.liveabout.com/thmb/YH0N90w-Jp5VtuXRd5q0CEse4_U=/650x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/bridge-574f7ac03df78c9b4657a3ae.png" alt="" height="400px" width="60px">
    </div>
    <li class="h4">
        Гриф гитары
    </li>
    <p>
      Осмотрите гриф вашей гитары. Вы заметите, что по всей его поверхности проходят металлические полоски. Эти куски металла на гитаре называются «ладами». Теперь, вот что вам нужно иметь в виду: слово «лада» имеет два разных значения, когда используется гитаристами. Его можно использовать для описания:

    <br>1. Сам кусок металла
    <br>2. Пространство на грифе между одним куском металла и другим.
    <div style="text-indent: 30px;">Для дальнейшего пояснения, область грифа между порожком и первой полосой металла называется «первым ладом». Область на грифе между первой и второй полосой металла называется «вторым ладом». И так далее...</div>
    
    </p>
    <li class ="h4"> 
        Держа гитару
    </li>
    <div class="row">
        <img class ="col-4"height= "300px"src="https://www.liveabout.com/thmb/myp-da6dnxWBEMcIOHJl9SsCS0s=/650x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-477010881-58ec2c293df78c5162012bf3.jpg" alt="">
        <p class="col-8">
            Теперь, когда мы знаем об основных частях гитары, пришло время запачкать руки и начать учиться играть на ней. Возьми себе стул без подлокотников и садись. Вы должны сидеть удобно, прислонившись спиной к спинке стула. Значительно сутулиться нельзя; вы не только получите больную спину, но и разовьете вредные привычки игры на гитаре.

            Теперь возьмите гитару и держите ее так, чтобы задняя часть корпуса инструмента соприкасалась с животом/грудью, а нижняя часть грифа была параллельна полу. Самая толстая струна на гитаре должна быть ближе всего к вашему лицу, а самая тонкая — к полу. Если это не так, поверните гитару в другом направлении. Как правило, правша держит гитару так, чтобы головка бабки была направлена влево, тогда как левша держит гитару так, чтобы головка бабки была направлена вправо.
            
            <br><span class="ml-4">Когда вы играете на гитаре сидя, корпус гитары опирается на одну из ваших ног. В большинстве стилей игры на гитаре гитара опирается на самую дальнюю от головки грифа ногу. Это означает, что человек, играющий на гитаре правой рукой, обычно кладет гитару на правую ногу, а тот, кто играет на гитаре левой рукой, кладет ее на левую ногу. (ПРИМЕЧАНИЕ: правильная техника классического гитариста диктует полную ПРОТИВОПОЛОЖНОСТЬ вышеизложенному, но в этом уроке давайте придерживаться нашего первоначального объяснения)

            Затем сконцентрируйтесь на своей «беспокойной руке» (руке, ближайшей к грифу гитары, когда вы сидите в правильном положении). Большой палец вашей раздражающей руки должен лежать за грифом гитары, а ваши пальцы должны быть слегка согнуты и находиться над струнами. Чрезвычайно важно держать эти пальцы согнутыми в суставах, за исключением тех случаев, когда специально указано не делать этого.</span>
            
        </p>  
        
    </div>
   <div class="border border-dark">
        <span class="font-italic">Tips :</span> <p> Поначалу держать кирку таким образом всегда будет неудобно. Поначалу вам придется уделять особое внимание своей руке, когда вы играете на гитаре.
Попробуйте и создайте плавность в своем альтернативном выборе. Ваши удары вниз должны звучать практически идентично вашим движениям вверх.
   </div>
    </p>
</ol>



</div>