<div class="mt-4 ml-4 mb-4">
    <div class="container">
        <h3 class="text-center h3">Добавление Видео</h3>

        <form method="POST" action="/me/course/new">

            <div class="form-group">
                <label for="name">Название Видео</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="description">Описание</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
            <div class="form-group">
                <label for="video">Видео ID </label>
                <input type="text" class="form-control" id="video" name="video">
            </div>
            <div class="form-group">
                <label for="slug">Название курса</label>

                <select class="form-control selector-form-control" name="slug" required>
                    <option value="">--Выбирать--</option>
                    {{#each courses}}
                    <option value="{{this.slug}}">{{this.slug}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary checkAllSelect">Add to Course</button>
            </div>
        

        </form>
    </div>
</div>