<div class="mt-4 ml-4">
    <h3 class="h3 text-center">Обновление курс</h3>

    <form class="mt-4" method="POST" action="/me/courses/{{course._id}}?_method=PUT">

        <div class="form-group">
            <label for="name">Название Курса</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea  class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="image">Фото Id </label>
            <input type="text" class="form-control" value="{{course.image}}" id="image" name="image">
        </div>


      <div class="text-center mb-4">
            <button type="submit" class="btn btn-primary">Сохранять</button>
      </div>
        
    </form>
</div>